body {
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2 {
	font-size: 1.2em;
	color: #666;
	margin: 0.2em 0;
}

ul {
	font-size: 0.8em;
	text-align: center;
	padding: 0.3em 0;
	margin-top: 0;
}

li {
	border-radius: 0.5em;
	background-color: #eef;
	cursor: pointer;
	display: inline-block;
	margin: 0.1em;
	padding: 0.3em 0.5em;
}

table {
	width: 100%;
	text-align: center;
	border: 1px solid #CCC;
	margin-bottom: 1em;
}

thead {
	font-size: 1.2em;
}

table td, table th {
	border: 1px solid #bbb;
	text-align: center;
	vertical-align: middle;
	padding: 0.25em;
	font-size: 85%;
}
th {
	background-color: #468850;
	color: #eee;
	font-variant: small-caps;
	font-weight: normal;
}
thead tr th {
	width: 15%;
}

a {
	color: #048;
	text-decoration: none;
}

.time {
	width: 5%;
}

.allHands {
	background-color: #79bb83;
}

.invited {
	background-color: #FFFF77;
}

.interactive {
	background-color: #78c5ee;
}

.wbma {
	background-color: #e5e5e5;
}

.authors {
	display: block;
	font-size: 75%;
}
.limit{
	display: block;
	font-size: 75%;
}
@media print {
	body {
		background-color: white;
	}
	h2 {
		display: none;
	}
	ul {
		display: none;
	}
	body table td, table th {
		font-size: 0.30cm;
	}
	th {
		background-color: #666;
	}
	body table {
		page-break-after: always;
	}
	body table td .authors {
		color: black;
	}
	body table td .limit {
		font-size: 0.2cm;
	}
	body table td.wbma {
		font-size: 0.2cm;
	}
	body table td.wbma .authors {
		font-size: 0.2cm;
	}
	.allHands {
		background-color: #999;
	}
	.invited {
		background-color: #DDD;
	}
	.interactive {
		background-color: #DDD;
	}
}

