body {
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2 {
	font-size: 1.2em;
	color: #666;
	margin: 0.2em 0;
}

ul {
	font-size: 0.8em;
	text-align: center;
	padding: 0.3em 0;
	margin-top: 0;
}

li {
	border-radius: 0.5em;
	background-color: #eef;
	cursor: pointer;
	display: inline-block;
	margin: 0.1em;
	padding: 0.3em 0.5em;
}

table {
	width: 100%;
	text-align: center;
	border: 1px solid #CCC;
	margin-bottom: 1em;
}

thead {
	font-size: 1.2em;
}

table td, table th {
	border: 1px solid #bbb;
	text-align: center;
	vertical-align: middle;
	padding: 0.25em;
	font-size: 85%;
	position: relative;
}
th {
	background-color: #468850;
	color: #eee;
	font-variant: small-caps;
	font-weight: normal;
}
thead tr th {
	width: 15%;
}

a {
	color: #048;
	text-decoration: none;
}

td div {
	padding-bottom: 1.5em;
}

.slides, .track, .level {
	display: block;
	position: absolute;
	bottom: 0;
	padding-bottom: 0;
	max-height: 1.25em;
	font-size: 85%;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.slides, .track {
	width: 60%;
	left: 0;
	background-color: #bea;
}

.level {
	width: 40%;
	left: 60%;
	background-color: #abe;
}

.interactive .sessionInfo,
[colspan="5"] .sessionInfo {
	padding-bottom: 0;
}

.time {
	width: 5%;
}

.allHands {
	background-color: #79bb83;
}

.invited {
	background-color: #FFFF77;
}

.interactive {
	background-color: #78c5ee;
}

.wbma {
	background-color: #f0f0f0;
}

.bestPaper {
	padding: 0;
}

.bestPaper:before {
	content: "WBMA - BEST PAPER";
	display: block;
	background-color: #FF8877;
	color: #FFFFFF;
	margin-bottom: 0.1em;
}

.authors {
	display: block;
	font-size: 75%;
}
.limit{
	display: block;
	font-size: 75%;
}
@media print {
	body {
		background-color: white;
	}
	h2 {
		display: none;
	}
	ul {
		display: none;
	}
	body table td, table th {
		font-size: 0.30cm;
	}
	th {
		background-color: #666;
	}
	body table {
		page-break-after: always;
	}
	body table td .authors {
		color: black;
	}
	body table td .limit {
		font-size: 0.2cm;
	}
	body table td.wbma {
		font-size: 0.2cm;
	}
	body table td.wbma .authors {
		font-size: 0.2cm;
	}
	body table td div {
		padding: 0.25em;
	}

	.slides {
		display: none;
	}

	.allHands {
		background-color: #999;
	}
	.invited {
		background-color: #DDD;
	}
	.interactive {
		background-color: #DDD;
	}
}

